*.pyc
.idea
logs
venv
.venv
**/__pycache__
.vscode
.DS_Store
*.log
dump.rdb
/docs/*
/view/docs/public
workspace/**
.devcontainer
.coverage
/data
node_modules
cache
dist
.quasar
npm-debug.log*
yarn-debug.log*
yarn-error.log*
__pycache__